*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #0a9100, #00ff6a);
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.content {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 20px;

    box-shadow: 0px 0px 44px -9px rgba(0,0,0,0.75);
 
}

.content2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.content-text{
    display: flex;
}

.caixa-texto {
    width: 88%;
    padding: 10px;
    border: solid 1px;
    border-color: gray;
    border-radius: 10px;
}

.caixa-message{
    width: 100%;
    margin-top: 10px;
    padding: 10px;

    border-radius: 10px;
    border: solid 1px;
    border-color: gray;
}

.seletorPais {
    width: 12%;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;

    border-radius: 10px;
    border-color: gray;
}

.btn-chat{
    background-color: #0f8131;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;

    border-radius: 10px;
    color: rgb(236, 236, 236);
    border: none;
    
}

.btn-chat:hover{
    background-color: #19a242;
}

.contato {
    display: flex;
    margin-top: 10px;
    text-align: right;
}

.a-contato{
    margin-right: 10px;
    text-align: right;
    color: rgb(64, 84, 113);
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 600px) {
    body {
        
    }

    .content {
        background-color: rgb(240, 240, 240);
        padding: 20px;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 20px;
    }

    .caixa-texto {
        width: 80%;
        padding: 10px;
    }
    
    .seletorPais {
        width: 20%;
        margin-right: 5px;
        text-align: center;
        cursor: pointer;
    }

    
  }